body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    margin: 0;
}

.header {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}