.hero {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headtext {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    
}